// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-warning{
    background-color: #00838f !important;
}

.bg-warning2{
    background-color: #006972;
}

.logo_200{
    width: 200px;
}
